{{#if editing}}
<article>
    <h3>{{input value=product.name}}</h3>
    <p>Id: {{product.id}}</p>
    <p>Ean: {{input value=product.ean}}</p>
    <p>Price: {{input value=product.price}}</p>
    <button {{action 'cancle'}}>Cancle</button>
    <button {{action 'save'}}>Save</button>
</article>
{{else}}
<article>
    <h3>{{product.name}}</h3>
    <p>Id: {{product.id}}</p>
    <p>Ean: {{product.ean}}</p>
    <p>Price: {{product.price}}</p>
    <button {{action 'edit'}}>Edit</button>
</article>
{{/if}}